@*@model IEnumerable<TrashCollector.Models.Customer>*@
@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "IndexHolds";
    //Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    var today = DateTime.Now.Date;
}

<style type="text/css">
    .blueText {
        color: #0000FF;
    }
</style>

<h2>Hold Pickups</h2>


<table class="table">
    
    @if (Model.EndDate == null || Model.EndDate < today)
    {
        <br />
        <p>
            <span class="blueText">There are currently no pickup holds in place.</span>
        </p>
        <br />

        <tr>
            <td>
                @Html.ActionLink("Place Hold on Pickups", "EditHolds", new { id = Model.ID }) |
                @Html.ActionLink("Back", "Index", "Pickups")
            </td>
        </tr>
    }
    else
    {
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    
        <tr>       
            <td>
                @Html.DisplayFor(modelItem => modelItem.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Comment)
            </td>
        </tr>


        <tr>
            <td colspan="5">
                @Html.ActionLink("Edit Pickup Hold", "EditHolds", new { id = Model.ID }) |
                @Html.ActionLink("Remove Hold", "DeleteHolds", new { id = Model.ID }) |
                @Html.ActionLink("Back", "Index", "Pickups")
                @*@Html.ActionLink("Details", "Details", new { id = item.ID })*@                  
            </td>
        </tr>
    }

</table>
