@model IEnumerable<TrashCollector.Models.Worker>

@{
    ViewBag.Title = "IndexRoute";
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}

    <h2>Route</h2>

    <p>
        @Html.ActionLink("Select a Route", "EditRoute") |
        @Html.ActionLink("Display Customers in the Route", "IndexRouteCustomer") 
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                        @*@Html.ActionLink("Display Customers", "IndexRouteCustomer") |*@
                        @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
                    </td>
            </tr>
        }

    </table>
